<% if logged_in?(:site_admin) %>
  <nav class="breadcrumb blogcrumb">
  <a>  <%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), style: blog_status_color(blog) %>
  </a>
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog), style: blog_status_color_edit(blog) %>
    <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' }, style: blog_status_color_delete(blog)%>
  </nav>
<% end %>
