<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Keith Robinson</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>

      <p class="nav nav-masthead app-nav">
        <% if user_signed_in? %>
          <div>Signed in as... <%= current_user.email %></div>
          <% end %>
      </p>
    </nav>

  </div>

</div>
