<div class="app-card-container">
  <div class="card ">
    <h1>About Me</h1>

    <hr>

    <div class="row">
        <div class="col-md-4">
          <%= image_tag "IMG_0112.jpg", width: 250, alt: "profile image"%>

          <div class="skills">
            <% @skills.each do |skill| %>
              <div class="skill">
                <h4><%= skill.title %></h4>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped bg-warning"
                    role="progressbar"
                    aria-valuenow="<%= skill.percent_utilized %>"
                    aria-valuemax="100"
                    style="width: <%= skill.percent_utilized %>%"
                  ></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-sm-8">
          <p class="card-text">I'm still a kid. Put a fishing rod (fly rod) in my hand and it is a good day. After spending years in Las Vegas, I've moved back home to Minnesota.
            (Miss the warmth of the desert.)
          </p>

          <p class="card-text">My experience with programming goes back many years in several different industries.
            I completed the Bloc bootcamp while working full time. Often working late into the evening until tasks
            were completed. My focus was Ruby on Rails. Software is a live industry, during my downtime I have been
            exploring new libraries and new languages ( React and ES6). I bring experiences from management to
            customer service to the software developer niche. My name is Keith Robinson, and I am a  Software Developer.
            Raised on strong work ethic,  professional appearance, and willingness to learn.
          </p>
          <p>
           <button
             class="btn btn-primary"
             type="button"
             data-toggle="collapse"
             data-target="#jobHistory"
             aria-expanded="false"
             aria-controler="jobHistory"
           >
             Job History
           </button>

           <button
             class="btn btn-primary"
             type="button"
             data-toggle="collapse"
             data-target="#education"
             aria-expanded="false"
             aria-controler="education"
           >
             Education
           </button>

           <script>
            function myFunction() {
              alert("References available upon request!");
            }
            </script>
          <button class="btn btn-primary" type="button" onclick="myFunction()">
            References
          </button>

        </p>
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                Wynn Las Vegas<br/> 3131 Las Vegas Blvd, Las Vegas, NV <br/>
                Golf Professional (Caddie)<br/>
                April 2005 to December 2017
              </div>
              <div class="card card-block">
                Cascata Golf Course<br/> 1 Cascata Drive,<br/>
                Boulder City, NV 89005 <br/>
                Golf Professional (Caddie)<br/>
                September 2002 to April 2005
              </div>
              <div class="card card-block">
                Top Tool Company<br/>
                3100 84th Lane NE, Minneapolis, MN 55449 <br/>
                Program  Manager / Estimator <br/> 2002
              </div>
            </div>

            <div class="collapse" id="education">
              <div class="card card-block">
                <h5>Bloc.io</h5> Full Stack Software Developer
              </div>
              <div class="card card-block">
                <h5>Boston University</h5> MBA Computer Science Management
              </div>
              <div class="card card-block">
                <h5>University of Minnesota</h5> Business Adminstration
              </div>
              <div class="card card-block">
                <h5>Frontend Masters</h5>
                  <ul>
                    <li>Complete Intro to React, v3 (feat. Redux, Router & Flow)</li>
                    <li>Introduction to JavaScript Programming</li>
                    <li>Functional-Light JavaScript, v2</li>
                    <li>Deep JavaScript Foundations</li>
                    <li>Firebase + React: Real-time, Serverless Web Apps</li>
                    <li>Coercion in JavaScript</li>
                    <li>ES6: The Right Parts</li>
                    <li>Introduction to Web Development</li>
                    <li>Advanced Javascript</li>
                    <li>CSS3 In-Depth</li>
                    <li>Sass Fundamentals</li>
                    <li>Modern Search Engine Optimization (SEO)</li>
                    <li>Debugging and Fixing Common JavaScript Errors</li>
                  </ul>
              </div>
              <div class="card card-block">
                <h5>Udemy</h5>
                  <ul>
                    <li>Modern React with Redux</li>
                    <li>Advanced React and Redux</li>
                    <li>The Complete React Native and Redux Course</li>
                    <li>Introduction to Voice Design with Amazon's Alexa</li>
                    <li>Ultimate AngularJS: Build a Real-World App from Scratch</li>
                    <li>Ruby on Rails a Beginners Guide</li>
                    <li>Essentials in Javascript ES6 - a Fun and Clear Introduction</li>
                    <li>Javascript: Understanding the Weird Parts</li>
                    <li>Setup OS X develoopment environments</li>
                    <li>The Complete Ruby on Rails Developer Course</li>
                    <li>Dissecting Ruby on Rails 5</li>
                  </ul>
              </div>



          </p>
      </div>
    </div>
  </div>
</div>
