<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Maple Grove, Minnesota 55369</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "(702) 510-3268" %></p>

    <h3>Email</h3>

    <p><a href="mailto:krobnson.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2816.129374101742!2d-93.44359072047142!3d45.103445379200586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b347f9431b0c4f%3A0xbcc05912a21b977c!2s12601+82nd+Ave+N%2C+Maple+Grove%2C+MN+55369!5e0!3m2!1sen!2sus!4v1518466951512" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
