<div class="inner cover">
  <h1 class="cover-heading">My Home Page.</h1>
  <p class="lead"> Mission statement...   is to contribute to a team and grow as a software developer.
  I believe one's success is nurtured by their environments. Work Harder. My goal as an employee is for
  my co-workers to look at me as the resource and move to a senior software developer. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
